# Entorno virtual
venv/
env/

# Bases de datos (datos sensibles de estudiantes)
data/*.db
data/*.db-journal
data/session.json
data/ultimo_usuario.json
data/config.json

# Python
__pycache__/
*.pyc
*.pyo

# PyInstaller
build/
dist/
*.spec

# Configuración local
.vscode/
.idea/
*.log